.endzone{
  position:absolute;
  top:0;
  bottom:0;
  width:9%;
  display:grid;
  place-items:center;
  font-weight:1000;
  letter-spacing:2px;
  font-size:13px;
  color:#fff;
  text-shadow: 0 4px 10px rgba(0,0,0,.45);
}

.endzone.left{
  left:0;
  background: linear-gradient(
    180deg,
    #c8102e,
    #a50d25
  );
  border-right:2px solid rgba(255,255,255,.25);
}

.endzone.right{
  right:0;
  background: linear-gradient(
    180deg,
    #fb4f14,
    #c63d10
  );
  border-left:2px solid rgba(255,255,255,.25);
}

.endzone span{
  transform: rotate(-90deg);
}

.endzone.right span{
  transform: rotate(90deg);
}
